html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#main > h1{
     text-align: center;
}

#img-div {
    text-align: center;
    margin: 0 auto;
}
img{
    
    height: 350px;
    width: 250px;
}
#img-caption {
    /* margin-top: 250px; */
    font-size: 2rem;
}
